@import url('//fonts.googleapis.com/css?family=Roboto:300,400,500');
@import 'variables';
@import 'keyframes';

.orizzonte__clearfix:after {
    content: '';
    clear: both;
    display: table;
}

%fonts {
	font: {
		family: $font-family;
		size: $font-size;
	}
}

%btn-label {
	color: $group-color-label;
	text-decoration: none;
}

%btn {
	padding: 7px 15px;
	float: left;
	@extend %btn-label
}
