@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import 'variables';

%fonts {
	font: {
		family: $font-family;
		size: $font-size;
	}
}

%btn-label {
	color: $filter-color-label;
	text-decoration: none;
}

%btn {
	cursor: pointer;
	padding: 7px 15px;
	float: left;
	@extend %btn-label
}
