@import 'base';

.orizzonte__dropdown {
	position: relative;

	&--focused {
		.orizzonte__dropdown-button,
		.orizzonte__dropdown-filter {
			border-color: $color-a;
		}
	}
	&--expanded {
		.orizzonte__dropdown-list {
			display: block;
		}
	}

	&--disabled {
		.orizzonte__dropdown-button {
	        @extend %select-disabled;
	    }
    }
}

.orizzonte__dropdown-button {
	@extend %select;
	text-align: left;
}

.orizzonte__dropdown-filter {
	@extend %select;
	background-image: none;
	box-sizing: border-box;
	padding-right: 31px;

	&-wrapper {
		position: relative;
	}

	&-button,
	&-loading {
		position: absolute;
		right: 1px;
		top: 1px;
		width: 29px;
		height: 30px;
		padding: 0;
		border: none;
		outline: none;
        border-left: 1px solid $border-color-inside;
	}

	&-button {
		background: transparent url($caret-base64);
	    background-repeat: no-repeat;
	    background-position: 50% 50%;
	    background-size: 8px auto;
	}

    &-loading {
        width: 28px;
        .orizzonte__loading {
            position: absolute;
            top: 8px;
            right: 9px;
        }
    }
}

.orizzonte__dropdown-list {
	@extend %list;
	display: none;
	border-radius: 3px;
	margin-top: 3px;
	min-width: 100%;
	max-height: 150px;
	overflow: auto;
	overflow-x: hidden;
	z-index: 999;
	font: {
		size: .9em;
	}
	animation: dropdownListIn .1s linear;
}

.orizzonte__dropdown-item {
	@extend %list-item;
	padding: {
		top: 5px;
		right: 6px;
		left: 6px;
		bottom: 5px;
	}

	.orizzonte__checkbox {
		margin: {
			top: -5px;
			right: -6px;
			bottom: -5px;
			left: -6px;
		}
	}

	.orizzonte__checkbox-label {
		padding: {
			top: 5px;
			right: 6px;
			bottom: 5px;
			left: 6px;
		}
	}

	.orizzonte__checkbox-span {
		&--first {
			width: 9px;
        	height: 9px;
		}
		&--last {
			padding: 0 0 0 5px;
		}
	}

	&:hover {
		.orizzonte__checkbox-span {
			&--first {
				border-color: #fff;
				background-color:#fff;
			}
		    &--last {
		        color: #fff;
		    }
		}
	}

	&--empty {
		color: $text-color-muted;
		line-height: 16px;
		padding: {
			top: 5px;
			right: 6px;
			left: 6px;
			bottom: 5px;
		}
	}

	&--disabled {
		cursor: not-allowed;
		color: $text-color-muted;

		&:hover {
			background-color: transparent;
			color: $text-color-muted;

			.orizzonte__checkbox-span {
				&--first {
					border-color: $border-color;
				}
			    &--last {
			        color: $text-color-muted;
			    }
			}
		}
	}
}

.orizzonte__dropdown-group {
	padding-left: 0;

	.orizzonte__dropdown-item {
		padding-left: 22px;
	}

	&-label {
		background-color: $background-color-muted;
		color: $text-color;
	}
}

.orizzonte__dropdown-match {
	font-weight: 500;
}
