@import 'base';

.orizzonte__info-icon {
    position: absolute;
    top: 5px;
    right: 10px;
    color: $color-a;
    width: 14px;
    height: 14px;
    text-align: center;
    @extend %fonts;
    font: {
        weight: 600;
        size: .9em;
    }
    cursor: help;

    &:hover {
        .orizzonte__info-content {
            display: block;
        }
    }
}

.orizzonte__info-content {
    z-index: 999;
    display: none;
    position: fixed;
    max-width: 300px;
    transform: translateX(25px);
    background-color: rgba(0,0,0, .6);
    color: #fff;
    padding: 7px 10px;
    border-radius: 3px;
    cursor: default;
    animation: infoTooltipIn .3s forwards;
    white-space: normal;
    text-align: left;
    font: {
        weight: normal;
    }

    &:after {
        right: 100%;
        top: 15px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: transparent;
        border-right-color: rgba(0,0,0, .6);
        border-width: 3px;
        margin-top: -3px;
    }
}
