.orizzonte__info-icon {
    position: absolute;
    top: 5px;
    right: 10px;
    color: $tooltip-icon-color;
    width: 14px;
    height: 14px;
    text-align: center;
    @extend %fonts;
    font: {
        weight: 600;
        size: .9em;
    }
    cursor: help;

    &:hover {
        .orizzonte__info-content {
            display: block;
        }
    }
}

.orizzonte__info-content {
    z-index: 999;
    display: none;
    position: fixed;
    max-width: $tooltip-max-width;
    transform: translateX(25px);
    background-color: $tooltip-background;
    color: $tooltip-color;
    padding: $tooltip-padding;
    border-radius: $tooltip-border-radius;
    cursor: default;
    animation: infoTooltipIn .3s forwards;
    white-space: normal;
    text-align: left;
    font: {
        weight: normal;
    }

    &:after {
        right: 100%;
        top: $tooltip-caret-offset;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: transparent;
        border-right-color: $tooltip-background;
        border-width: 3px;
        margin-top: -3px;
    }
}
