.orizzonte__filter-fulltext {
    width: 100%;
    padding: 5px;
    background-color: #fff;
    border: 1px solid $border-color;
    border-radius: $fulltext-border-radius;
    outline: none;
    box-shadow: $fulltext-box-shadow;
    transition: border-color .3s;
    box-sizing: border-box;
    height: $fulltext-base-height;
    @extend %fonts;
    font: {
        size: $fulltext-font-size;
    }

    &:focus {
        border-color: $filter-border-active;
        &.orizzonte__filter-fulltext--invalid {
            border-color: $filter-border-invalid;
        }
    }
    &--disabled {
        cursor: not-allowed;
        background-color: $background-color-muted;
    }
    &--invalid {
        border-color: $filter-border-invalid;
    }
    &--multiline {
        height: auto;
        min-height: 50px;
        min-width: 190px;
    }
}
