@import 'base';

.orizzonte__filter-fulltext {
    width: 100%;
    padding: 5px;
    background-color: #fff;
    border: 1px solid $border-color;
    border-radius: 3px;
    outline: none;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .1);
    transition: border-color .3s;
    box-sizing: border-box;
    height: 32px;
    @extend %fonts;
    font: {
        size: .9em;
    }

    &:focus {
        border-color: $color-a;
        &.orizzonte__filter-fulltext--invalid {
            border-color: $color-e;
        }
    }
    &--disabled {
        cursor: not-allowed;
        background-color: $background-color-muted;
    }
    &--invalid {
        border-color: $color-e;
    }
    &--multiline {
        height: auto;
        min-height: 50px;
        min-width: 190px;
    }
}
