@import 'base';

.orizzonte__group {
	position: relative;
	background-color: $group-color-idle;
	border-radius: $group-radius;
	transition: all .3s;
	white-space: nowrap;
	margin-right: 5px;
	@extend %btn;

	&:hover {
		background-color: $group-color-active;

		.orizzonte__group-btn {
			opacity: 1;
		}
	}

	&:last-child {
		margin-right: 0;
	}

	~ .orizzonte__btn-wrapper {
		margin-left: 0;
	}

	&--shown {
		background-color: lighten($group-color-active, 10%);
		box-shadow: 0 2px 4px rgba(0, 0, 0, .2);

		.orizzonte__group-btn {
			width: 20px;
			transform: scale(1);
			opacity: 1;
		}

		&.orizzonte__group--removable {
			.orizzonte__group-label {
				width: 100%;
			}
		}

		&:hover {
			background-color: lighten($group-color-active, 10%);
		}
	}

	&--removing {
		overflow: hidden;
		animation: elementOut .3s forwards;
	}

	&--removable {
		&:hover {
			.orizzonte__group-label {
				width: 100%;
			}
		}
	}

	&--empty {
		background-color: #999;
	}
	&--top-labels {
		margin-top: 20px;
	}
	&--error {
		background-color: #999;

		&:hover {
			background-color: #999;
		}
	}
}

.orizzonte__group-description {
	color: $text-color-muted;
	padding: 5px 10px;
	white-space: normal;
	font-size: .9em;
}

.orizzonte__group-label {
	margin: -7px 0 -7px -15px;
	padding: 7px 0 7px 15px;
	background-color: transparent;
	outline: none;
	border: none;
	cursor: pointer;
	text-align: left;
	overflow: hidden;
	text-overflow: ellipsis;
	box-sizing: border-box;
	@extend %fonts;
	@extend %btn-label;

	&--top {
		position: absolute;
		font-size: .7em;
		top: -15px;
		left: 15px;
		line-height: 15px;
		text-transform: uppercase;
		color: $color-a;
		opacity: 0;
		transform: translateY(5px);

		&-shown {
			animation: topLabelIn .2s forwards;
			animation-timing-function: easeOut;
		}
	}
}

.orizzonte__group-btn {
	position: absolute;
	top: 5px;
	right: 5px;
	opacity: 0;
	overflow: hidden;
	box-shadow: -2px 1px 4px $group-color-active;
	padding: 0;
	width: 20px;
	line-height: 20px;
	text-align: center;
	color: #FFF;
	border: none;
	outline: none;
	color: $group-color-active;
	background-color: rgba(255, 255, 255, 1);
	border-radius: 25px;
	float:right;
	cursor: pointer;
	transition: all .3s;

	&:after {
		content: "\000D7";
		position: absolute;
		top: -1px;
		left: 5px;
		height: 20px;
		line-height: 20px;
		color: $color-a;
		font-size: 15px;
	}
}
