@keyframes topLabelIn {
	from {
		opacity: 0;
		transform: translateY(5px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes infoTooltipIn {
    from {
        opacity: 0;
        transform: translate(3px, -50%);
    }
    to {
        opacity: 1;
        transform: translate(0, -50%);
    }
}

@keyframes listIn {
	from {
		opacity: 0;
		transform: translateY(-15px) scale(.9);
	}
	to {
		opacity: 1;
		transform: translateY(0) scale(1);
	}
}

@keyframes dropdownListIn {
	from {
		opacity: .5;
		transform: translateY(-5px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes elementOut {
	50%, 100% {
		opacity: 0;
	}
	100% {
		width: 0;
		padding: {
			left: 0;
			right: 0;
		}
	}
}

@keyframes wave {
    50% {
        transform: scale(.9);
    }
}

@keyframes rotate {
    100% { transform: rotate(360deg); }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}
