@keyframes topLabelIn {
	from {
		opacity: 0;
		transform: translateY(5px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes listIn {
	from {
		opacity: 0;
		transform: translateY(-15px) scale(.9);
	}
	to {
		opacity: 1;
		transform: translateY(0) scale(1);
	}
}

@keyframes elementOut {
	50%, 100% {
		opacity: 0;
	}
	100% {
		width: 0;
		padding: {
			left: 0;
			right: 0;
		}
	}
}

@keyframes wave {
    50% {
        transform: scale(.9);
    }
}
