.orizzonte__list {
    @extend %list;
    margin: 5px 0 0;
    min-width: $list-min-width;
    animation: listIn .1s linear;
    transform-origin: $list-transform-origin;

    &--right {
        left: auto;
        right: 0;
        transform-origin: top right;
    }

    &:hover {
        .orizzonte__list-controls--mouseover {
            margin: 5px 10px;
            transform: scale(1);
            max-height: 100px;
            opacity: 1;
            transition-delay: 0s;
        }
    }
}

.orizzonte__list-controls {
    display: flex;
    margin: 0 10px 5px;

    &--mouseover {
        max-height: 0;
        opacity: 0;
        transform: scale(.9);
        overflow: hidden;
        transition: all .3s;
        transition-delay: .5s;
    }
}

.orizzonte__list-control {
    outline: none;
    border: none;
    color: #fff;
    padding: 5px 0;
    cursor: pointer;
    transition: all .3s;
    display: table-cell;
    text-align: center;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @extend %fonts;

    + .orizzonte__list-control {
        margin-left: 3px;
    }
}

.orizzonte__list-done {
    background-color: $btn-done-color;
    border-radius: 5px;
    flex-grow: 1;
    font: {
        weight: 500;
    }

    &:hover {
        background-color: lighten($btn-done-color, 5%);
    }
}

.orizzonte__list-remove {
    background-color: #FFF;
    color: $btn-remove-color;
    transition: color .3s;
}

.orizzonte__item {
    min-width: 175px;

    &--filters {
        + .orizzonte__item--filters {
            padding-top: 5px;
            margin-top: 5px;
            border-top: 1px solid #eee;
        }
    }
}

.orizzonte__item-clickable {
    @extend %list-item;
}
