@import 'base';

.orizzonte__list {
    margin: 5px 0 0;
    min-width: 200px;
    padding: 5px 0;
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    display: block;
    border: 1px solid #d0d1d5;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    background-color: #fff;
    animation: listIn .1s linear;
    transform-origin: top left;

    &--right {
        left: auto;
        right: 0;
        transform-origin: top right;
    }
}

.orizzonte__list-done {
    outline: none;
    border: none;
    background-color: $color-c;
    color: #fff;
    border-radius: 5px;
    padding: 5px 0;
    margin: 5px 10px;
    text-align: center;
    width: calc(100% - 20px);
    cursor: pointer;
    transition: all .3s;
    @extend %fonts;
    font: {
        weight: 500;
    }

    &:hover {
        background-color: lighten($color-c, 5%);
    }
}

.orizzonte__item {
    min-width: 175px;

    &--filters {
        + .orizzonte__item--filters {
            padding-top: 5px;
            margin-top: 5px;
            border-top: 1px solid #eee;
        }
    }
}

.orizzonte__item-clickable {
    display: block;
    margin: 0 -1px;
    padding: 7px 10px;
    color: #000;
    cursor: pointer;
    text-decoration: none;
    transition: all .1s;

    &:hover {
        background-color: lighten($color-a, 15%);
        color: #fff;
    }
    &:active {
        background-color: lighten($color-a, 20%);
    }
}
