@import 'base';

.orizzonte__container {
	@extend %fonts;

	&:hover {
		.orizzonte__btn-add {
			transform: scale(1);

			&:hover {
				transform: scale(1.1);
			}

			&--disabled {
				&:hover {
					transform: scale(1);
				}
			}
		}
	}
}

.orizzonte__btn-add-wrapper {
	position: relative;
	float: left;
}

.orizzonte__btn-add {
	background-color: $btn-add-color;
	border-radius: 50%;
	padding: 0;
	margin: {
		left: 5px;
	}
	width: 32px;
	line-height: 32px;
	text-align: center;
	border: none;
	outline: none;
	transform: scale(0);
	transition: all .3s;
	font: {
		size: 1.1em;
	}
	@extend %btn;

	&--shown {
		transform: scale(1);
	}
	&--disabled {
		opacity: .5;
	}

	&--left {
		margin: {
			left: 0;
			right: 5px;
		}
	}

	&:hover {
		background-color: lighten($btn-add-color, 5%);
		transform: scale(1.1);
	}
}
