@import 'base';

.orizzonte__container {
	margin-top: -5px;
	@extend %fonts;

	&:hover {
		.orizzonte__btn-add {
			transform: scale(1);

			&:hover {
				transform: scale(1.1);
			}

			&--disabled {
				&:hover {
					transform: scale(1);
				}
			}
		}
	}
	.orizzonte__group {
		margin-top: 5px;
	}
	.orizzonte__btn-wrapper {
		margin-top: 5px;
	}
	&--top-labels {
		.orizzonte__group {
			margin-top: 20px;
		}
		.orizzonte__btn-wrapper {
			margin-top: 20px;
		}
	}
}
