@import 'base';

.orizzonte__container {
	@extend %fonts;
}

.orizzonte__btn-add {
	background-color: $btn-add-color;
	border-radius: 50%;
	padding: 0;
	width: 32px;
	line-height: 32px;
	text-align: center;
	border: none;
	outline: none;
	transition: all .3s;
	font: {
		size: 1.1em;
	}
	@extend %btn;

	&:hover {
		background-color: lighten($btn-add-color, 5%);
	}

	&--left {
		margin: {
			left: 0;
			right: 5px;
		}
	}
}
