.orizzonte__radio--disabled {
    .orizzonte__radio-span--last {
        color: $text-color-muted;
    }
    .orizzonte__radio-label {
        cursor: not-allowed;

        &:hover {
            .orizzonte__radio-span--first {
                border-color: $border-color;
            }
        }
    }
}


.orizzonte__radio-input {
    display: none;

    &:checked {
        + .orizzonte__radio-label {
            .orizzonte__radio-span--first {
                background: $radio-color;
                border-color: $radio-color;
                animation: wave .4s ease;

                .orizzonte__radio-svg {
                    stroke-dashoffset: 0;
                }

                &:before {
                    transform: scale(2.5);
                    opacity: 0;
                    transition: all .4s ease;
                }
            }
        }
    }
}

.orizzonte__radio-label {
    margin: auto;
    user-select: none;
    cursor: pointer;

    &:hover {
        .orizzonte__radio-span--first {
            border-color: $color-b;
        }
    }
}

.orizzonte__radio-span {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0,0,0);

    &--first {
        box-sizing: content-box;
        position: relative;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        transform: scale(1);
        vertical-align: middle;
        border: 1px solid $border-color;
        transition: all .2s ease;

        &:before {
            content: "";
            width: 100%;
            height: 100%;
            background: $radio-color;
            display: block;
            transform: scale(0);
            opacity: 1;
            border-radius: 50%;
        }
    }

    &--last {
        padding: 5px 0 5px 7px;
        color: #000;
    }
    &--count {
        float: right;
        color: $text-color-muted;
        font-size: .9em;
        padding: 5px 0 5px 7px;
    }
}

.orizzonte__radio-svg {
    position: absolute;
    top: 0;
    left: 0;
    fill: #ffffff;
    transition: all .3s ease;
    transition-delay: .1s;
}
