$color-a: #0496FF;
$color-b: #35A7FF;
$color-c: #F5B700;
$color-d: #8FC93A;

$font-family: 'Open Sans', sans-serif;
$font-size: 13px;

$filter-radius: 20px;
$filter-color-idle: $color-a;
$filter-color-active: $color-b;
$filter-color-label: #fff;

$btn-add-color: $color-d;