$color-a: #0496FF;
$color-b: #35A7FF;
$color-c: #F5B700;
$color-d: #8FC93A;

$font-family: 'Roboto', sans-serif;
$font-size: 14px;

$group-radius: 20px;
$group-color-idle: $color-a;
$group-color-active: $color-b;
$group-color-label: #fff;

$btn-add-color: $color-d;